html, body {
	background: #f4f4f4;
	color: #666;
	font-family: Georgia, Times, 'Times New Roman', serif;
}

body {
    padding-bottom: 70px;
  }

.navbar-text {
    float: none;
}

.clear {
	clear:both;
	padding-top:40px;
}
