@model NaturalDateTime.Web.Models.ViewModels.LoginViewModel

@section css {
    <link href="~/Content/css/admin/login.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            @using (Html.BeginForm("Login", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                <div class="form-login">
                    <h4>Please Log In</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-sm chat-input" , placeholder = "password", autofocus = "" })
                    <br/>
                    <div class="wrapper">
                        <span class="group-btn">
                            <input type="submit" value="Log in" class="btn btn-primary btn-md" />
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

