<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Examples</h3>
        <span class="example_type">Current time in a city</span><br />
        <a href="/q/What_is_the_time_in_New_York">What is the time in New York</a><br />
        <a href="/q/Time_in_Belgrade">Time in Belgrade</a><br />
        <a href="/q/Paris">Paris</a><br />
        <br />
        <span class="example_type">Time conversions between cities in different timezones</span><br />
        <a href="/q/What_is_the_time_in_Kathmandu_Nepal_when_it_is_7pm_in_New_York_USA">What is the time in Kathmandu Nepal when it is 7pm in New York USA</a><br />
        <a href="/q/If_its_4pm_in_London_what_is_the_time_in_Boston">If its 4pm in London what is the time in Boston</a><br />
        <br />
        <span class="example_type">Time conversions between cities in different timezones on a particular date</span><br />
        <a href="/q/What_is_the_time_in_Sao_Paolo_when_it_is_6pm_on_the_2nd_of_June_in_Detroit">What is the time in Sao Paolo when it is 6pm on the 2nd of June in California</a><br />
        <a href="/q/What_time_is_it_in_Paris_when_it_is_5-April-2015_in_Sydney_at_2am">What time is it in Paris when it is 5-April-2015 in Sydney at 2am</a><br />
        <br />
        <span class="example_type">Daylight saving information for a city</span><br />
        <a href="/q/When_does_daylight_saving_time_begin_in_Auckland">When does daylight saving time begin in Auckland</a><br />
        <br />
        <span class="example_type">Daylight saving information for a city for a specific year</span><br />
        <a href="/q/When_does_daylight_saving_time_begin_in_New_York_in_2015">When does daylight saving time begin in New York in 2015</a>
        <br />
        <br />
        <a href="/"><< Back</a>
    </div>
    <div class="col-md-2"></div>
</div>
