<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Examples</h3>
        <span class="example_type">Current time in a city</span><br />
        <a href="#/?q=What%20is%20the%20time%20in%20New%20York">What is the time in New York</a><br />
        <a href="#/?q=Time%20in%20Belgrade">Time in Belgrade</a><br />
        <a href="#/?q=Paris">Paris</a><br />
        <br />
        <span class="example_type">Time conversions between cities in different timezones</span><br />
        <a href="#/?q=What%20is%20the%20time%20in%20Kathmandu,%20Nepal%20when%20it%20is%207pm%20in%20New%20York,%20USA">What is the time in Kathmandu, Nepal when it is 7pm in New York, USA</a><br />
        <a href="#/?q=If%20its%204pm%20in%20London%20what%20is%20the%20time%20in%20Boston">If its 4pm in London what is the time in Boston</a><br />
        <br />
        <span class="example_type">Time conversions between cities in different timezones on a particular date</span><br />
        <a href="#/?q=What%20is%20the%20time%20in%20Sao%20Paolo%20when%20it%20is%206pm%20on%20the%202nd%20of%20June%20in%20Detroit">What is the time in Sao Paolo when it is 6pm on the 2nd of June in Detroit</a><br />
        <a href="#/?q=What%20time%20is%20it%20in%20Paris%20when%20it%20is%205-April-2015%20in%20Sydney%20at%202am">What time is it in Paris when it is 5-April-2015 in Sydney at 2am</a><br />
        <br />
        <span class="example_type">Daylight saving information for a city</span><br />
        <a href="#/?q=When%20does%20daylight%20saving%20time%20begin%20in%20Auckland">When does daylight saving time begin in Auckland</a><br />
        <br />
        <span class="example_type">Daylight saving information for a city for a specific year</span><br />
        <a href="#/?q=When%20does%20daylight%20saving%20time%20begin%20in%20New%20York%20in%202015">When does daylight saving time begin in New York in 2015</a>
        <br />
        <br />
        <a href="#/"><< Back</a>
    </div>
    <div class="col-md-2"></div>
</div>
