.grid {
  height:600px;
  margin-left:20px;
  margin-right:20px;
}

.questionLogDetailsHeading{
    font-weight:bold;
}

.questionLogDetails{
    display:block;
    padding-bottom:10px;
}

.grid-options{
    margin-top:5px;
    margin-left:25px;
}

.grid-options-heading{
    font-weight:bold;
}
