<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
        <div class="text-center">
            <br/>
            <br />
            <br />
            <h3>Oops, something went wrong. Please try again.</h3>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>