<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>About</h3>
        <p>
            Natural Date and Time is a natural language date and time zone engine which allows you to view time and date information for any major city in the world. You can do time zone conversions and view the current time and daylight saving time information about cities all by querying in natural english text.
        </p>
        <p>
            Natural Date and Time was written as a hobby project as I was interested in learning more about natural language processing, I am also a big sports fan and was constantly converting between US time and Sydney time to find out when my favourite teams were playing and I was sick of using clunky drop-down list driven time conversion websites so I wrote this application. The source code is fully open and available at - <a href="https://github.com/darkosancanin/naturaldatetime_web">https://github.com/darkosancanin/naturaldatetime_web</a>.
        </p>
        <p>
            The city data is obtained via the geonames service - <a href="http://geonames.org">http://geonames.org</a>. Noda Time is utilized for time conversions - <a href="http://nodatime.org/">http://nodatime.org/</a>.
        </p>
        <p>
            If you have any questions or comments please send an email to <a href="mailto:darko@darkosancanin.com">darko@darkosancanin.com</a>.
        </p>
        <br />
        <a href="/"><< Back</a>
    </div>
    <div class="col-md-2"></div>
</div>
