<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h3>Apps</h3>
        <br />
        <div class="apps_row">
            <div class="apps_icon"><a href="https://play.google.com/store/apps/details?id=com.darkosancanin.naturaldateandtime"><img src="/Content/Images/android_icon.png" border="0" width="72" height="72" alt="Natural Date and Time" class="img-responsive center-block" /></a></div>
            <div class="apps_details"><div><span class="apps_type">Android</span></div>Download it from the <a href="https://play.google.com/store/apps/details?id=com.darkosancanin.naturaldateandtime">Google Play Store</a>.</div>
        </div>
        <div class="clear"></div>
        <div class="apps_row">
            <div class="apps_icon"><a href="https://chrome.google.com/webstore/detail/natural-date-and-time/kammhglamkjkibfpibckchmeolehhpgb"><img src="/Content/Images/chrome_extension_icon.png" border="0" width="80" height="72" alt="Natural Date and Time" class="img-responsive center-block" /></a></div>
            <div class="apps_details"><div><span class="apps_type">Chrome Extension</span></div>Download it from the <a href="https://chrome.google.com/webstore/detail/natural-date-and-time/kammhglamkjkibfpibckchmeolehhpgb">Chrome Web Store</a>.</div>
        </div>
        <div class="clear"></div>
        <a href="/"><< Back</a>
    </div>
    <div class="col-md-2"></div>
</div>
